:root {
    --font-main: system-ui, sans-serif;
    --color-text: #eeeeee;
    --color-bg: #111111;
    --color-accent: #e6a817;
    --color-secondary: #666; /* Nova variável para cores secundárias */
}

body {
    font-family: var(--font-main);
    color: var(--color-text);
    background: var(--color-bg);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 1rem; /* Reduzido de 2rem para 1rem */
}

.logo {
    font-size: 2.5rem;
    margin-bottom: 0.25rem; /* Reduzido de 0.5rem para 0.25rem */
}

h1, h2{
    margin: 0 0 1px 0
}


.home-link {
    cursor: pointer;
    transition: color 0.3s;
}

.home-link:hover {
    color: var(--color-accent);
}

/* Ajuste de espaçamento nos menus */
.main-nav {
    margin: 1.5rem 0 0.5rem 0; /* Mantém a margem superior, reduz a inferior */
}

.nav-link {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--color-accent);
}

.content-display {
    border-top: 1px solid #333;
    padding: 2rem 0;
}

.hidden {
    display: none;
}

.markdown-content {
    max-width: 72ch;
    margin: 0 auto;
}

.media-container {
    display: grid;
    gap: 2rem;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    background: #2a2a2a;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.empty-message {
    text-align: center;
    color: #666;
    font-style: italic;
}

footer {
    text-align: center;
    margin-top: 1.5rem;
    color: #666;
}

footer p {
    margin: 0;
}

/* Adicione no seu arquivo CSS */
.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Estilo para os botões da lista de contos */
.markdown-item button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
}

.markdown-item button:hover {
    background-color: #ce9e2f;
}

/* Centraliza os botões na lista */
.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}